<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @book.avatar.url %>
</p>

<strong>Comments:</strong>
<%= @comments.each do |comment| %>
    <br>
    Comment: <%= comment.body %>
<%end%>
<br>
<br>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
