<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @book.title %>
</p>

<%= image_tag @book.avatar.url %>

<p id="story">
	<%= @book.story %>
</p>

<strong>Quotes</strong>
<% @followings.each do |user| %>
<br>
	<% @quotes.each do |quote| %>
		<% if quote.author_id == user.id %> 
			<%= quote.author_id %> : <%= quote.body %>
			<br>
		<% end %>
	<% end %>
<% end%>
<br>
<br>

<strong>Comments:</strong>
<% @comments.each do |comment| %>
<br>
<%= User.find(comment.author_id).email %> : <%= comment.body %>
<%end%>
<br>
<br>

<strong>Comment on this Book</strong>
<br>
<br>
<%= form_for(@new_comment) do |f| %>
<div class="field">
	<%= f.hidden_field :book_id, :value => @new_comment.book_id %>
	<%= f.hidden_field :author_id, :value => current_user.id %>
	<%= f.text_field :body %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
<br>
<br>

<div id="quotes" style="position: fixed; right: 15px; bottom: 15px; width: 200px; height: 100px; background: white;">
	<!-- <form action="">
		<input type="text" disabled="disabled" id="current_quote">
	</form> -->
	<%= form_for (@new_quote) do |f| %>
	<div class="field">
		<%= f.hidden_field :book_id, :value => @new_comment.book_id %>
		<%= f.hidden_field :author_id, :value => current_user.id %>
		<%= f.text_area :body %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
	
</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/components/modal.min.js"></script>
<script>
	if(!window.Medium){
		Medium = {};
	}

	Medium.Selector = {};
	Medium.Selector.getSelected = function(){
		var t = '';
		if(window.getSelection){
			t = window.getSelection();
		}
		// }else if(document.getSelection){
		// 	t = document.getSelection();
		// }else if(document.selection){
		// 	t = document.selection.createRange().text;
		// }
		return t;
	}
	// document.getElementById('#story').onmouseover = function() { 
		Medium.Selector.mouseup = function(){
			var st = Medium.Selector.getSelected();

			if(st!=''){
				console.log('yes');
				// $('input[type=text]#current_quote').val(st);
				$('#quote_body').val(st);
			}
		}
	// }
	

	$(document).ready(function(){
		$('#current_quote').value = "asdfasdf";
		$(document).bind("mouseup", Medium.Selector.mouseup);
	});
</script>
