<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<%= image_tag @book.avatar.url %>

<p>
<%= @book.story %>
</p>

<strong>Comments:</strong>
<% @comments.each do |comment| %>
    <br>
    Comment: <%= comment.body %>
<%end%>
<br>
<br>

<strong>Comment on this Book</strong>
<br>
<br>
<%= form_for(@new_comment) do |f| %>
    <div class="field">
      <%= f.hidden_field :book_id, :value => @new_comment.book_id %>
      <%= f.hidden_field :author_id, :value => current_user.id %>
      <%= f.text_field :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<br>
<br>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
